.home{
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 10px;
}

.homeTitle{
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 1.75;
}

.homeHr{
    border-color: #4a5568;
}

.homeContainer{
    display: flex;
    width: 100%;
}

.homeMain{
    display: flex;
    flex-direction: column;
    flex: 1;
    /* border: 1px solid black; */
}

.homeAside{
    display: flex;
    flex-direction: column;
    width: 24rem;
    /* border: 1px solid red; */
}