.resetpassword {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8e8e8;
    min-height: 100vh;
    margin: 0;
}

.resetpasswordback {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid #000;
    background-color: #fff;
    box-shadow: 4px 4px #000;
    cursor: pointer;
    transition: 0.5s;
}

.resetpasswordback:hover {
    box-shadow: 0px 0px #000;
    transform: translate(3px, 3px);
}

.resetpasswordbackLink {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.15em;
    letter-spacing: 0.1em;
    font-weight: 700;
    line-height: 1.1em;
    color: #333;
}

.resetpasswordForm {
    width: 320px;
    padding: 50px 30px;
    text-align: center;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.resetpasswordHeading {
    text-transform: uppercase;
    font-size: medium;
    letter-spacing: 0.1em;
    font-weight: 700;
    line-height: 1.1em;
    color: #333;
    margin-bottom: 20px;
}

.resetpasswordcheck {
    margin-bottom: 20px;
}

.selectGroup {
    margin-bottom: 30px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resetpasswordinput {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 2px solid #000;
    background-color: transparent;
    box-shadow: 4px 4px #000;
    font-size: 15px;
    font-weight: 600;
    color: #323232;
    padding: 5px 10px;
    outline: none;
}

.resetpasswordbtn {
    background-color: #000;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 10px 20px #000;
    transition: 0.5s;
    cursor: pointer;
}

.resetpasswordbtn:hover {
    transform: translateY(5px);
    box-shadow: none;
}